/* Board */
.board {

  .grid {
    border-radius: 5px;
    background-color: #bbada0;
    max-width: 50%;
    padding: 1.5% 1.5% 0.9% 1.5%;
    margin: 50px auto;

    .grid-wrapper {
    	display: inline-block;
    	width: 100%;

    	.space {
    		width: 23.8%;
    		min-height: 73px;
    		float: left;
    		margin: 1.5% 0 0 1.5%;
    		padding: 5% 0;
    		text-align: center;
    		background-color: #cdc0b4;
    		border-radius: 2px;
    		font-size: 2em;

    		&.no-margin-top {
    			margin-top: 0;
	    	}

	    	&.no-margin-left {
	    		margin-left: 0;
	    	}

            &[data-color="gray"] {
                background-color: #eee4da;
            }

            &[data-color="beige"] {
                background-color: #ede0c8;
            }

            &[data-color="yellow"] {
                background-color: #f4e64d;
            }

            &[data-color="orange"] {
                background-color: #f98622;
            }

            &[data-color="red"] {
                background-color: #ff0030;
            }

            &[data-color="pink"] {
                background-color: #f77bd5;
            }

            &[data-color="purple"] {
                background-color: #9c1577;
            }

            &[data-color="blue"] {
                background-color: #3b53e4;
            }

            &[data-color="dark-blue"] {
                background-color: #0820af;
            }

            &[data-color="dark-gree"] {
                background-color: #3baf08;
            }

            &[data-color="green"] {
                background-color: #71f039;
            }
    	}
    }
  }
}